$side-nav-w: 225px;
$top-nav-h: 56px;

.side-nav {
    background: $primary;
    width: $side-nav-w;
    height: 100vh;
    color: white;

    position: fixed;
    left: 0;
    z-index: 1002;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    
    &.no-sidenav {
        left: -225px;
    }

    .top-space {
        width: 100%;
        height: $top-nav-h;

        border-bottom: 1px solid $dark-purple;
    }

    .profile-section {
        padding: 1rem;
        line-height: 1em;

        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            margin-right: 10px;
        }
    }

    .nav-section {
        overflow-y: overlay;
        height: calc(100% - 138px);
        padding-bottom: 3rem;
    }

    .nav-links {
        font-weight: 500;
        border-left: 3px solid transparent;
        position: relative;
        overflow: hidden;

        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.active {
            background: $dark-primary;
            border-left: 3px solid $gold;

            .chevron {
                transform: rotate(-90deg);
            }

            .sub-nav {
                display: block;
                pointer-events: all;
                position: relative;

                .sublink.active {
                    background: $dark-primary;
                }

                a {
                    padding-left: 2.5rem;
                    padding-right: 2.125rem;

                    &:hover {
                        background: $dark-primary;
                    }
                }
            }
        }

        &:hover {
            background: $dark-primary;
        }

        a {
            display: block;

            padding: 0.75rem 0.75rem 0.75rem 1.5rem;
            width: 100%;
            cursor: pointer;
        }

        .sub-nav {
            background: $primary !important;

            display: none;
            position: absolute;
            pointer-events: none;
        }
    }

    .accordion-nav {
        .chevron {
            position: absolute;
            top: 0;
            right: 1rem;
            bottom: 0;
            height: 100%;
            opacity: 0.5;

            font-size: 1.25rem;

            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }
}

.top-nav {
    background: white;
    height: $top-nav-h;
    width: 100%;
    padding-left: $side-nav-w;
    border-bottom: 1px solid #e7e2fc;

    position: fixed;
    z-index: 1001;

    &.no-sidenav {
        padding-left: 0px;

        #toggleSideNav {
            transform: rotate(180deg);
        }
    }
}

.nav-tabs {
    border: 0;

    .nav-link {
        border: 0 !important;
        padding: 0.75rem 1rem;
        margin-right: 1rem;

        font-size: 1rem;
        font-weight: 500;

        color: $secondary;

        &.active {
            border-bottom: 2px solid $primary !important;
            color: $primary;
        }
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-right: 5px solid $primary;
    background: white;
}
