$light-purple: #eee8ff;
$dark-purple: #7873ef;
$primary: #4F48ED;
$dark-primary: #3B36B3;
$light-dark: #AEAEAE;
$dark: #505050;
$darker: #110F36;
$gold :#FFBE1A;
$secondary: #888888;
$light-grey1: #E5E5E5;
$light-grey2: #F5F5F5;
$green: #55C860;