.side-nav {
  background: #4F48ED;
  width: 225px;
  height: 100%;
  color: white;
  position: fixed;
  z-index: 1002; }
  .side-nav .top-space {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #7873ef; }
  .side-nav .profile-section {
    padding: 1rem;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .side-nav .profile-section img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px; }
  .side-nav .nav-links {
    font-weight: 500;
    border-left: 3px solid transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .side-nav .nav-links.active {
      background: #3B36B3;
      border-left: 3px solid #FFBE1A; }
    .side-nav .nav-links:hover {
      background: #3B36B3; }
    .side-nav .nav-links a {
      display: block;
      padding: 0.75rem 0.75rem 0.75rem 1.5rem;
      width: 100%; }

.top-nav {
  background: white;
  height: 56px;
  width: 100%;
  padding-left: 225px;
  border-bottom: 1px solid #e7e2fc;
  position: fixed;
  z-index: 1001; }

.nav-tabs {
  border: 0; }
  .nav-tabs .nav-link {
    border: 0 !important;
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #888888; }
    .nav-tabs .nav-link.active {
      border-bottom: 2px solid #4F48ED !important;
      color: #4F48ED; }

.card-section {
  border-radius: 8px;
  background: white;
  margin-bottom: 1rem;
  -webkit-box-shadow: 9px 10px 40px -5px rgba(0, 0, 0, 0.05);
  box-shadow: 9px 10px 40px -5px rgba(0, 0, 0, 0.05); }
  .card-section.card-wrap {
    margin-bottom: 0;
    margin-right: 1rem;
    width: 220px;
    height: 200px; }
    .card-section.card-wrap:hover {
      background: whitesmoke; }
    .card-section.card-wrap:active {
      background: white; }
  .card-section .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.125rem;
    font-size: 1.125em;
    font-weight: 500;
    border-bottom: 1px solid #E5E5E5;
    color: #110F36; }
    .card-section .head p {
      margin-bottom: 0 !important; }
    .card-section .head input[type="date"] {
      border: 1px solid #888888;
      padding: 1px 10px;
      border-radius: 8px;
      color: #888888; }
  .card-section .body {
    font-size: 0.75em; }
    .card-section .body.form {
      padding: 0.75rem 1.125rem 1.125rem 1.125rem; }
  .card-section .foot {
    padding: 1rem; }

.table-custom {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 3px; }
  .table-custom thead th {
    padding: 1rem;
    border-bottom: 1px solid #E5E5E5; }
  .table-custom tbody {
    padding: 1rem 0; }
    .table-custom tbody td {
      border-top: 5px solid white;
      border-bottom: 5px solid white;
      background: #F5F5F5;
      padding: 0.5rem 1rem; }

.btn-table {
  background: #4F48ED;
  color: white;
  border: 1px solid #4F48ED;
  border-radius: 8px;
  padding: 0px 20px;
  font-size: 0.875rem; }
  .btn-table.green {
    border: 1px solid #55C860;
    background: #55C860; }
  .btn-table.submit-modal {
    width: 100%;
    padding: 10px 20px; }
  .btn-table.outline {
    background: none;
    border: 2px solid #4F48ED;
    color: #4F48ED; }

.radio-wrapper input[type=radio] {
  transform: scale(1.5); }

label {
  color: #AEAEAE;
  padding-left: 0; }

.upload-img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background: #DDDDDD; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  font-family: "Roboto", sans-serif !important;
  color: #505050;
  height: 100%; }

.font-w-100 {
  font-weight: 100 !important; }

.font-w-200 {
  font-weight: 200 !important; }

.font-w-300 {
  font-weight: 300 !important; }

.font-w-400 {
  font-weight: 400 !important; }

.font-w-500 {
  font-weight: 500 !important; }

.font-w-600 {
  font-weight: 600 !important; }

.font-w-700 {
  font-weight: 700 !important; }

.font-w-800 {
  font-weight: 800 !important; }

.opacity-1 {
  opacity: 10% !important; }

.opacity-2 {
  opacity: 20% !important; }

.opacity-3 {
  opacity: 30% !important; }

.opacity-4 {
  opacity: 40% !important; }

.opacity-5 {
  opacity: 50% !important; }

.opacity-6 {
  opacity: 60% !important; }

.opacity-7 {
  opacity: 70% !important; }

.opacity-8 {
  opacity: 80% !important; }

.opacity-9 {
  opacity: 90% !important; }

a,
a:hover {
  text-decoration: none;
  color: inherit; }

.fs-12px {
  font-size: 0.75em; }

.fs-14px {
  font-size: 0.875em; }

.fs-16px {
  font-size: 1rem; }

.fs-18px {
  font-size: 1.125em; }

.fs-36px {
  font-size: 2.25em; }

.fs-60px {
  font-size: 3.75em; }

.fs-100px {
  font-size: 8.25em; }

.login-input {
  padding: 15px 24px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  font-size: 1rem;
  width: 100%; }
  .login-input::placeholder {
    color: #C7D3CC;
    font-size: 1rem; }
  .login-input.regular {
    padding: 8px;
    height: 36px; }
    .login-input.regular::placeholder {
      color: #AEAEAE;
      font-size: 1rem; }
    .login-input.regular option[disabled] {
      color: #AEAEAE; }

.login-btn {
  background: #4F48ED;
  border: 1px solid #4F48ED;
  border-radius: 6px;
  color: white;
  padding: 14px 64px; }

.outline-none:focus {
  outline: none !important; }

.general-padding {
  padding-left: 225px;
  padding-top: 56px; }

.h-70px {
  height: 70px; }

.color-light-dark {
  color: #AEAEAE; }

.color-dark {
  color: #505050; }

.color-darker {
  color: #110F36; }

.color-primary {
  color: #4F48ED; }

.color-secondary {
  color: #888888; }

.background-primary {
  background: #4F48ED; }

.background-secondary {
  background: #888888; }

.bg-light-purple {
  background: #eee8ff; }
